header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  margin: 0;
}
.page-wrapper {
  background-image: url("../img/b.jpg"); /* Update the path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Additional styles for the div */
  padding: 20px;
  font-family: "Lato", sans-serif;
}

.image-container {
  margin-top: 20px;
}

h1 {
  color: rgb(255, 255, 255);
}

h2 {
  color: ;
}
/* ... other CSS rules ... */

.image-container {
  margin-top: 20px; /* Add space between text and image */
}

.miFoto {
  max-width: 100%;
  height: auto;
  border-style: dotted; /* Maintains aspect ratio */
}
.reachMeImg {
  max-width: 100%;
  height: 129px;
  border-radius: 10%;
}

@media only screen and (min-width: 600px) {
  .tituloGrande {
    display: block;
    border-radius: 25px;
    width: 35%;
  }
  .tituloChico {
    display: none;
  }
}

.resaltar {
  color: red;
  font-weight: bold;
}

.miFoto {
  width: 240px;
  height: 240px;
}
.separacion {
  padding-top: 7px;

  padding-bottom: 5px;

  background-color: hsla(240, 31%, 32%, 0.694);

  padding-left: 5%;
}
section {
  background-color: #fca311;
  border-style: double;
  padding-left: 5%;
}
.boton {
  border-radius: 100%;
}
.flecha {
  width: 25px;
}
.inputBotonesNavegador {
  height: 35px;

  width: 35px;

  border-radius: 60%;
}

.correr {
  padding-right: 10px;
}
.centrar {
  padding-bottom: 100px;
}

td,
th {
  border: ridge;
}

button {
  color: white;
  background-color: blue;
  border-color: rgb(17, 126, 126);
  border-radius: 10%;
}
