header {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center;    /* Center horizontally */
  padding: 20px;          /* Add some space for better appearance */
}

.image-container {
  margin-top: 20px; /* Add space between text and image */
}

.miFoto {
  max-width: 100%;
  height: auto; /* Maintains aspect ratio */
}
.tituloChico {
  display: block;
  border-radius: 25px;
  width: 15%;
}

@media only screen and (min-width: 600px) {
  .tituloGrande {
    display: block;
    border-radius: 25px;
    width: 35%;
  }
  .tituloChico {
    display: none;
  }
}

.resaltar {
  color: red;
  font-weight: bold;
}

.miFoto {
  width: 240px;
  height: 240px;
}
.separacion {
  padding-top: 7px;

  padding-bottom: 5px;

  background-color: hsla(240, 31%, 32%, 0.694);

  padding-left: 5%;

}
section {
  border-radius: 25px;

  background-color: beige;

  padding-left: 5%;
}
.boton {
  border-radius: 100%;
}
.flecha {
  width: 25px;
}
.inputBotonesNavegador {
  height: 35px;

  width: 35px;

  border-radius: 60%;
}

.correr {
  padding-right: 10px;
}
.centrar {
  padding-bottom: 100px;
}

footer {
  background-color: rgb(230, 230, 16);

  border-radius: 25px;

  text-align: center;
}
.aBotonesNavegador {
  padding-right: 10px;
}
table {
  text-align: center;
}

td,
th {
  border: ridge;
}
body {
  font-family: arial;
}
